<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main canteen</title>
    <link rel="icon" href="image/kglogo.jpg">
    <link rel="stylesheet" href="main-canteenstyle.css">
</head>
<body>
    <header class="fade-up">
        <div class="logo">
            <img src="image/team-project_image-removebg-preview.png" alt="logo">
        </div>
        <a href="index.html"><div class="back">Back</div></a>
    </header>
</body>
</html>